.cashbot2:hover {
  cursor: pointer;
}

.chatbox {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 73vw;
  height: 500px;
  width: 500px;
  display: flex;
  cursor: pointer;
}

.cashbot2 {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 85vw;
  height: 200px;
  width: 200px;
}
@media (max-width: 1100px) {
  .cashbot2 {
    left: 75vw;
  }
}

@media (max-width: 1750px) {
  .chatbox {
    background-color: "red";
    left: 68vw;
  }
}

@media (max-width: 1480px) {
  .chatbox {
    background-color: "red";
    left: 60vw;
  }
}
@media (max-width: 1180px) {
  .chatbox {
    background-color: "red";
    left: 55vw;
    height: 400px;
  }
}
@media (max-width: 1047px) {
  .chatbox {
    background-color: "red";
    left: 55vw;
    width: 420px;
  }
}
@media (max-width: 1047px) {
  .chatbox {
    flex-direction: column;
    width: 320px;
    float: right;
    height: 500px;
    left: 68vw;
  }
  .cashbot {
    margin-left: 60%;
    float: right;
  }
}
@media (max-width: 998px) {
  .chatbox {
    left: 55vw;
  }
}
@media (max-width: 694px) {
  .cashbot2,
  .chatbox {
    position: unset;
    float: right;
  }
}
@media (max-width: 348px) {
  .chatbox {
    width: 280px;
  }
}

#mainCont {
  position: static;
  border-radius: 30px;
}
