.Home {
  height: 100vh;
  background-color: var(--midnight);
}

#logo {
  margin: 0 auto;
  transform: translateZ(-1px) scale(1);
  margin-bottom: -90px;
  margin-top: -50px;
}

#logo:hover {
  cursor: pointer;
}

.logoCont {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  height: 100vh;
}

#slogan {
  transform: translateZ(-1px) scale(1);
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 8%;
  width: 100%;
  height: 4em;
  object-fit: cover;
}

.homeText {
  font-weight: bolder;
  color: #f0edee;
  text-align: center;
  font-size: 300%;
  padding-top: 5%;
  margin-bottom: 10%;
}

/* Typing effect for sign up at bottom of home page*/

#homeText {
  color: #f0edee;
  text-align: center;
  font-size: 300%;
  width: 23%;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* margin-left: 0 auto;
  margin-right: 0 auto; */
  margin-top: 33%;
}

#homeText-animate {
  color: #f0edee;
  text-align: center;
  font-size: 300%;
  width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.12em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  /* margin-left: 0 auto;
  margin-right: 0 auto; */
  margin-top: 33%;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 23%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* css for parallax effect*/
.story {
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;
}

.homeContainers3,
.homeContainers2,
.homeContainers1,
.homeContainers4 {
  background-size: cover;
  color: white;
  height: 90vh;
  width: 100vw;
  margin: 0 auto;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}

.logoCont {
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}

.homeContainers3 {
  background-color: var(--lightblue);
}
.homeContainers2 {
  background-color: var(--darkblue);
}

.homeContainers1 {
  background-color: var(--blue);
}
.homeContainers4 {
  background-color: var(--grey);
}

.homeContainers3 .bg {
  background: url("../../../public/homeChar4.png") 50% 84.5% no-repeat fixed;
}
.homeContainers2 .bg {
  background: url("../../../public/homeChar3.png") 50% 84.5% no-repeat fixed;
}
.homeContainers1 .bg {
  background: url("../../../public/homeChar2.png") 50% 84.5% no-repeat fixed;
}
.homeContainers4 .bg {
  background: url("../../../public/tiffany.png") 50% 65% no-repeat fixed;
}
.logoCont .bg {
  background: url("../../../public/homeChar1.png") 50% 46vh no-repeat fixed;
}

.homeContainers2 .bg,
.homeContainers3 .bg,
.homeContainers1 .bg,
.homeContainers4 .bg,
.logoCont .bg {
  margin-top: -40vh;
  background-size: 60vh 60vh;
  height: 150vh;
  position: absolute;
  width: inherit;
  z-index: 10;
}

.logoCont .bg {
  height: 90vh;

}
.homeContainers2 .bg,
.homeContainers3 .bg,
.homeContainers1 .bg,
.homeContainers4 .bg{
  height: 150vh;
}

@media (max-width: 500px) {
  .homeContainers2 .bg,
  .homeContainers3 .bg,
  .homeContainers1 .bg,
  .homeContainers4 .bg,
  .logoCont .bg {
    background-size: 45vh 45vh;
  }

  .homeText {
    font-size: 230%;
    margin-top: 60px;
    padding: 5px;
  }
  #homeText-animate {
    margin-top: 100%;
    font-size: 200%;
  }
  #homeText {
    margin-top: 100%;
  }
  .homeText {
    font-size: 200%;
  }
}
@media (max-width: 768px) {
  #slogan {
    display: none;
  }
}
@media (min-width: 500px) and (max-width: 1027px) {
  #homeText-animate {
    margin-top: 50%;
    font-size: 230%;
  }
  #homeText {
    margin-top: 50%;
  }
  .homeText {
    font-size: 250%;
  }
}

/* css for logo glitch animation */

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack img {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 1000ms cubic-bezier(0.5, 0.3, 0, 1.5) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack img:nth-child(odd) {
  --glitch-translate: 80px;
}
.stack img:nth-child(even) {
  --glitch-translate: -80px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 0.2;
    transform: translateX(50%);
  }

  40% {
    opacity: 0.3;
    transform: translateX(50%);
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}
