.loadingCont{
  height: 100vh;
  padding-top: 25vh;
}

#loadingImg{
  margin: 0 auto;
  object-fit: cover;
}


/* Animation for money flip */
@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.loadingBody {
  display: flex;
  justify-content: center;
  object-fit: cover;
  align-items: center;
  width: 10vw;
  height: 10vh;
}

.loader {
  width: 90px;
  font-size: x-large;
  margin: auto;
}

.loader__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader__coin {
  animation: flip 0.5s ease-in-out infinite alternate-reverse both;
}

.loader1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 40%;
  overflow-x: hidden;
}

@keyframes loader {
  from {
    width: var(--min-size);
    height: var(--min-size);
    border-radius: calc(var(--min-size) / 2);
  }
  to {
    width: var(--max-size);
    height: var(--max-size);
    border-radius: calc(var(--max-size) / 2);
  }
}
.dot {
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  object-fit: contain;

}



